
.login-box {
    margin: auto;
    margin-top: 150px;
    max-width: 200px;
    height: 300px;
    text-align: center;
    background-color: rgb(238, 105, 57);
    box-shadow: 5px 5px 4px #aaaaaa;
    box-sizing: border-box;
    padding-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


p {
    display: inline-block;
    font-size: .5rem;

}
